.showForm-enter {
  transform: translate(100%, 0);
}

.showForm-enter.showForm-enter-active {
  transform: translate(0, 0);
  transition: transform 500ms ease-in;
}

.showForm-leave {
  transform: translate(0, 0);
}

.showForm-leave.showForm-leave-active {
  transform: translate(100%, 0);
  transition: transform 300ms ease-in;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.btn {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 50px;
  color: rgb(252, 73, 30);
  padding: 0 20px;
}

.btn-invert {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 50px;
  color: white;
  padding: 0 20px;
}

.btn-group {
  margin: 50px 0;
}

li.entry {
  list-style: none;
  outline: none;
  border: none;
  font-size: 50px;
}
a {
  text-decoration: none;
  padding: 0 20px;
}

.heading {
  font-size: 50px;
  padding: 0 20px;
  margin: 50px 0;
}

.biginput {
  background: none;
  font-size: 50px;
  border: none;
  outline: none;
  padding: 0 20px;
}

.biginput-invert {
  padding: 0 20px;
}

.biginput-invert, .biginput-invert::-webkit-input-placeholder {
  background: none;
  color: white;
  font-size: 50px;
  border: none;
  outline: none;
}

.error-input {
  padding: 0 20px;
}

form.form-modal {
  top: 0;
  left: 200px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: fixed;
  display: block;
  background: rgb(252,73,30);
  background: -moz-linear-gradient(-45deg, rgba(252,73,30,1) 0%, rgba(249,156,109,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(252,73,30,1) 0%,rgba(249,156,109,1) 100%);
  background: linear-gradient(135deg, rgba(252,73,30,1) 0%,rgba(249,156,109,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc491e', endColorstr='#f99c6d',GradientType=1 );
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.50);
}

.hvr-bounce-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(252, 73, 30);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
  color: white;
}
.hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
